<div class="container" id="home-container">
  <div class="jumbotron" id="home-jumbotron">
    <div class="container">
      <div class="jumbotron" id="inside-jumbotron">
        <h1 class="display-4">Welcome to Pokémon Trainer Hub!</h1>
        <p>Here you can create your favorite pokémon team, and show it to the world!</p>
        <p>Indeed, this is a dream come true! with many pokémon to choose from you will be able to hone your skills to the limit!</p>
      </div>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>